<div class="row">
  <div class="col-sm-4">
    <h4>
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, {size: 100}) %> alt=">
      <%= @user.name %>
    </h4>
  </div>
<div class="col-sm-8">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
    <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
  </ul>
</div>
