<% if logged_in? %>
 <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="bg-light p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-dark">
      <h1>StudyWithで学習をより良いものに</h1>
    </div>
  </div>
  
  <div class="bg-light p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-dark">
      <h2>StudyWithは学習を共有する場です。</h2>
      <p>分からないことがある人は質問によるインプットを、<br>
      知識がある人は質問回答によるアウトプットを行うことで<br>
      お互いの学力向上につなげましょう！</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <%= link_to '一緒に学習したい方はこちら', signup_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<%  end %>