<footer>
  <div class="container">
    <% if logged_in? %>
      <div class="row">
        <div class="col mb-5">
          <%= link_to 'HOME', root_path, class: 'btn btn-primary' %> <%= link_to '質問', new_question_path, class: 'btn btn-primary' %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col text-center mt-5">
          <%= link_to 'HOME', root_path, class: 'btn btn-primary' %> <%= link_to '質問', login_path, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</footer>